.featured-card {
    width: 30%;
    margin:20px;
    box-shadow: 0px 10px 28px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 28px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 28px -8px rgba(0,0,0,0.75);
    border-radius: 0px 0px 10px 10px;
    position: relative;
}

.featured-card p {
    background-color: white;
    position: absolute;
    width: 100%;
    padding: 20px 0;
    bottom: 0px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.featured-card img {
    width: 100%;
}