#how-to {
    padding: 0px 100px;
    background-color: #F4F4F4;
    padding-bottom: 50px;
}

#how-to-cards-container {
    display: flex;
    justify-content: center;
}

#how-to h2 {
    text-align: left;
}